# https://git-scm.com/docs/gitattributes
#
# A gitattributes file is a simple text file that gives attributes to path names.
# Each line in gitattributes file is of form: pattern attr1 attr2 ...
# That is, a pattern followed by an attributes list, separated by white spaces.
# When the pattern matches the path in question, the attributes listed on the line are given to the path.
# Each attribute can be in one of these states for a given path:
# FIX CRLF always when developer has not set
# Linux/Mac: git config --global core.autocrlf input
# Windows: git config --global core.autocrlf true
# Auto detect text files and perform LF normalization

* text=auto
* eol=lf
* text eol=lf

*.min.css linguist-vendored
*.min.js linguist-vendored

# Ensure that the following files, and file name patterns are treated as a text files

*.txt text
*.js text
*.html text
*.npmignore text
*.md text
*.scss text
.gitattributes text
.gitignore text
.travis.yml text
.gitlab-ci.yml text
LICENSE text
*.md text
*.yml text
*.yaml text
*.options text
.editorconfig text
.gitattributes text
.gitignore text
LICENSE text

# Avoid creation of unnecessary big commit objects
# For these files we do not want to see text diff for
*.min.* binary minified
*js.map* binary
*css.map* binary

*.jpg  binary
*.jpeg binary
*.png binary
*.svg binary
*.gif  binary

*.mtl binary
*.obj binary
*.obj binary
*.glb binary

*.wav binary
*.mp3 binary

*.woff2 binary
*.woff binary
*.ttf binary
*.eot binary

*.data binary
