################################################################################
# FILES to ignore
################################################################################
# Files to ignore
*.sw[mnop]
.DS_Store
**/*.log
**/*.sqlite
npm-debug.log*
package-lock.json
.env
################################################################################
# DIRECTORIES to ignore
################################################################################
.sass-cache/
**/[Bb]uild/*
**/dist/*
**/[Tt]mp/*
**/node_modules/*
.idea/

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
