################################################################################
# FILES to ignore
################################################################################
# Files to ignore
*.sw[mnop]
.DS_Store

################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Tt]mp/*

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
